name: master

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '1.8', '11' ]
        hadoop: [ 'hadoop-2.7', 'hadoop-3.2' ]
        exclude:
        - java: '11'
          hadoop: 'hadoop-2.7'
    name: Test Spark with JDK ${{ matrix.java }} and ${{ matrix.hadoop }}

    steps:
    - uses: actions/checkout@master
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Test with SBT
      run: |
        sbt test
